
body{
    margin: 0;
    font-family: system-ui;
  }
  .parallax, .parallaxl{
    background-image: url("https://images.unsplash.com/photo-1542838132-92c53300491e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80");
    height: max-content;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  
  }
  .page-title{
    background: rgb(0, 0,0,0,.5);
    color: white;
    text-align: center;
    padding:50px ;
    font-size: 100px;
    font-variant: small-caps;
    font-family: fantasy;
    letter-spacing: 20px;
  }
  .link{
    color: white;
  }
  .sticky{
    position: fixed;
    top: 0;
    width: 100%;
  }
  .menu{
    background: #184d47;
    text-align: center;
  }
  .menu-ul li{
    font-size: 17px;
    list-style: none;
    display: inline-block;
    padding: 25px 25px 26px 25px;
  }
  .menu-ul{
    margin: 0;
    padding: 0;
    display: inline;
  }
  .a-menu, .a-links{
    text-decoration: none;
    color: white;
  }
  .menu-ul li:hover{
    background: #5b8c5a;
    transform: scale(1.1);
  }

  .search-box{
    border: 1px solid white;
    border-radius: 50px;
    background: white;
    width: max-content;
    display: inline-block;
    margin: 8px;
  
  }
  .search-box:hover{
    box-shadow: 0 0 10px 2px #5b8c5a;
    border: 1px solid 5b8c5a;
  }
  .search-input{
    width: 250px;
    border: none;
    font-size: 16px;
    outline: none;
    background: transparent;
    margin: 15px  0  0  10px ;
  
  }
  
  i{
    font-size: 20px;
    margin: 0 10px 0 0;
  }
  
  button{
    background: transparent;
    border: none;
    outline: none;
  
  }
  .container, .deals-container{
    margin: 50px 50px 50px 5%;
    width: 90%;
    text-align: center;
  }
  .categories, .items{
    width: max-content;
    margin: 25px;
    border: 1px solid #184d47;
    border-radius: 0 0 50px 50px;
    display: inline-block;
  }
  .categories:hover, .items:hover{
    box-shadow: 0 0 10px 3px #184d47;
  }
  .item-image{
    height: 200px;
    width: 200px;
    border-radius: 0 0 50px 50px;
    padding: 10px;
  }
  .image-title{
    text-align: center;
    padding: 10px;
    font-weight: bold;
  }
  a{
    text-decoration: none;
  }
  
  .titles{
    padding: 50px;
    font-size: 50px;
    font-weight: bold;
    letter-spacing: 10px;
    color: white;
    background: rgba(0, 0 , 0 , 0.5);
  }
  .deal{
    padding: 50px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    display: inline-block;
    margin: 20px;
    max-width: 20%;
    background: linear-gradient(120deg, #16817a 20%, #cee397 50%, #16817a 80%);
  
  }
  .coupon-btn{
    border: 1px solid white;
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
  }
  .coupon-btn:hover{
    box-shadow: 0 0 10px 5px white inset;
  }
  .images{
    display: inline-block;
  }
  .item-image-size{
    height: 200px;
    width: 300px;
    padding: 5px;
  }
  .description{
    margin: 20px;
    min-height: 100px;
  }
  .item-select{
    margin: 10px 0 0 0;
  }
  .buynow-btn{
    border:1px solid #184d47;
    background: #184d47;
    padding: 5px 15px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
  }
  .buynow-btn:hover{
    border:1px solid #5b8c5a;
    box-shadow: 0 0 10px 5px #5b8c5a inset;
  }
  /*.parallaxl{
    background-image: url('images/footer7.jpg');
    
  }*/
  .footer{
    background: rgba(0,0, 0, 0,.5);
    text-align: center;
    padding: 20px;
  }
  .quick-links{
    color: white;
    font-size: 20px;
    font-weight: bold;
    display: inline-block;
    min-width: 30%;
  }
  .quick-links ul{
    padding: 0;
  }
  .quick-links li{
    list-style: none;
    padding: 10px;
    font-weight: 300;
  }
  .a-links:hover{
    color: #fd5e53;
  }
  .copyrights{
    font-size: 16px;
    font-family: verdana,arial,Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 15px;
  }
  
  img{
    border-radius: 0.5rem;
  }
  img.small{
    max-width: 15rem;
    width: 100%;
  }
  img.medium{
    max-width: 29rem;
    width: 100%;
    height: 25rem;
  }
  img.large{
    width: 100%;
  }
  /* card */
  .card{
    border: 0.1rem #c0c0c0 solid;
    background-color: #f8f8f8;
    border-radius: 0.5rem;
    margin: 1rem;
  }
  .card-body{
    padding: 1rem;
  }
  .card-body > *{
    margin-bottom: 0.5rem;
  }
  .price{
    font-size: 2rem;
  }
  .row{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .row.center{
    justify-content: center;
  }
  .row.top{
    align-items: flex-start;
  }
  .col-1{
    flex: 1 1 20rem;   /*25rem*/
  }
  .col-2{
    flex: 2 1 40rem;   /*50rem*/
  }
  .min-30{
    min-width: 30rem;
    /* padding: 0rem 70rem 0rem 0rem;
    font-size: 2.5rem;
    font-family: 'Georgia'; */
  }
  .col-qty{
    min-width: 3.5rem;
    min-height: 3.5rem;
    margin: 0rem 0rem 0rem 55rem;
  }
  .col-qty.price{
    min-width: 3.5rem;
    min-height: 3.5rem;
    margin: 0rem 0rem 0rem 63rem;
  }
  /*Alert*/
  .loading{
    display: block !important;
  }
  .success{
    color:#20a020;
    font-weight: bold;
  }
  .error{
    color: #a02020;
    font-weight: bold;
  }
  .alert{
    padding: 1rem;
    border: 0.1rem solid transparent;
    border-radius: 0.5rem;
  }
  .alert-info{
    color:#2020a0;
    background-color: #e0e0ff;
  }
  .alert-danger{
    color:#a02020;
    background-color: #ffe0e0;;
  }
  .primary .block{
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.1rem #a4a4a4 solid;
    font-size: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
  }
  .add-to-cart{
    border:1px solid #184d47;
    background: #184d47;
    padding: 5px 70px;
    border-radius: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
  }
  .add-to-cart:hover{
    border:1px solid #5b8c5a;
    box-shadow: 0 0 10px 5px #5b8c5a inset;
  }
  
  
  
  
  
  
  
  
  